@page
@model ToDoList.Pages.Account.LoginModel
@{
}
<form asp-page-handler="Login">
    <label>Username:</label>
    <input type="text" name="username" />
    <label>Password:</label>
    <input type="password" name="password" />
    <input type="submit" />
</form>
<a asp-page="Register">Register</a>