@page
@model ToDoList.Pages.Account.RegisterModel
@{
}
<form asp-page-handler="Register" method="post">
    <label>Username:</label>
    <input type="text" name="username" />
    <label>Password:</label>
    <input type="password" name="password" />
    <input type="submit" value="Register" />
</form>