@page
@model ToDoList.Pages.CreateItemModel
@{
}
<h1>Create Item</h1>
<form method="post">
    <label asp-for="Item.Name">Item Name: </label>
    <input asp-for="Item.Name" />
    <label asp-for="Item.Description">Description: </label>
    <input asp-for="Item.Description" />
    <select asp-for="ToDoList.ToDoListId">
        @foreach (var list in Model.ToDoLists)
        {
            <option value="@list.ToDoListId">@list.Name</option>
        }
    </select>
    <input type="submit" />
</form>